---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include meta.html %}

    <title>{{ site.title }}</title>
    <meta name="title" content="{{ site.description }}" />
    <meta name="description" content="{{ site.description }}" />
  </head>
  <body>
    <div id="main" class="main">
      <h1><span id="welcome" class="light">Welcome to</span><br />1StopShop</h1>
      <h2>Your grocery shopping buddy</h2>
      <button id="start-btn" onclick="start();">Get started</button>
    </div>

    <div id="box-container">
      <div class="box">
        <div class="tabs">
          <button
            class="tab-btn active"
            onclick="handleTabClick(event, 'fruits')"
          >
            Fruits
          </button>
          <button class="tab-btn" onclick="handleTabClick(event, 'vegetables')">
            Vegetables
          </button>
        </div>

        <div id="fruits" class="tabcontent" style="display: grid">
          {% for item in site.data.fruits %}
          <div
            class="card"
            id="card-{{ item.id }}"
            onclick="select('{{ item.id }}')"
          >
            <p>{{ item.name }}</p>
          </div>
          {% endfor %}
        </div>

        <div id="vegetables" class="tabcontent">
          {% for item in site.data.vegetables %}
          <div
            class="card"
            id="card-{{ item.id }}"
            onclick="select('{{ item.id }}')"
          >
            <p>{{ item.name }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <script src="script.js"></script>
  </body>
</html>
