---
---

$primary-color: #290405;
$secondary-color: #290405;
$gray: #d1d1d1;
$selected-color: #ff8588;
$bg-color: #921b1d;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: $bg-color;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: height 0.7s;
}

h1 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 100px;
  color: white;
  line-height: 1;
}

h1 .light {
  font-size: 60px;
  font-weight: 200;
  transition: opacity 0.5s;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 200;
  color: white;
  margin-top: 0;
}

p {
  color: $primary-color;
  font-family: "Open Sans", sans-serif;
}

button {
  padding: 10px;
  font-size: 25px;
  font-family: "Open Sans";
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: $primary-color;
  color: white;
  width: 300px;
  margin: 10px;
}

button:hover {
  cursor: pointer;
  background-color: darken($primary-color, 5%);
}

button:disabled {
  cursor: auto;
}

#start-btn {
  transition: opacity 0.5s;
}

#box-container {
  display: none;
  width: 800px;
}

.box {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tab-btn {
  background-color: $secondary-color;
  margin: 0;
  width: 100%;
  font-size: 20px;
  width: 100%;
  border-radius: 0;

  &.active {
    background-color: darken($secondary-color, 10%);
    cursor: auto;
  }

  &:hover {
    background-color: darken($secondary-color, 10%);
  }
}

.tab-btn:first-child {
  border-radius: 10px 0 0 0;
}

.tab-btn:last-child {
  border-radius: 0 10px 0 0;
}

.tabcontent {
  padding: 20px;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 30px 10px;
}

.card {
  align-self: center;
  justify-self: center;
  margin: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 150px;
  border-radius: 5px 5px 0 0;
  background-color: $gray;
  cursor: pointer;
  transition: filter 0.2s;
  margin-bottom: 0;
  padding: 0 10px;

  &:hover {
    background-color: darken($gray, 5%);
  }

  &.selected {
    background-color: $selected-color;

    &:hover {
      background-color: darken($selected-color, 5%);
    }
  }

  p {
    font-weight: 700;
  }

  img {
    height: 70px;
  }
}

.dropdown-arrow {
  height: 25px;
  width: 120px;
  border-radius: 0 0 5px 5px;
  background-color: $gray;

  &:hover {
    background-color: darken($gray, 5%);
    cursor: pointer;
  }

  &.selected {
    background-color: $selected-color;

    &:hover {
      background-color: darken($selected-color, 5%);
    }
  }
}

.dropdown-content {
  z-index: 2;
  display: none;
  position: absolute;
  top: 175px;
  width: 150px;

  button {
    margin: 0;
    width: 100%;
    border-radius: 0;
    background-color: #c9deff;
    color: black;
    font-size: 16px;

    &:hover {
      background-color: darken(#c9deff, 5%);
    }

    &.selected {
      background-color: darken(#c9deff, 20%);
    }
  }
}

#submit {
  width: 100%;
  margin-top: 50px;
}

.results {
  display: none;
  background-color: white;
  width: 800px;
  padding: 20px;
  border-radius: 5px;

  h1 {
    color: $primary-color;
    font-size: 60px;
  }
}

@media only screen and (max-width: 850px) {
  #box-container {
    width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 60px;
  }

  h1 .light {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }

  input,
  textarea,
  select,
  #box-container,
  #submit,
  .results {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #box-container {
    width: 100%;
  }
}
